body{
    background-color: aliceblue;
}
.title{
    color: rgb(1, 1, 75);
    text-align: center;
    font-size: 25px;
}
.searchContainer{
    text-align: center;
    display: flex;
    justify-content: center;
}
.searchContainer *{
    margin: 3px;
}
.searchContainer input{
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
#searchIconContainer{
    background-color: rgb(1, 1, 75);
    border-radius: 5px;
    width: 60px;
}
#searchIcon{
    width: 30px;
}
.buttonContainer{
    text-align: center;
    margin: 15px;
}
.buttonContainer *{
    margin: 5px;
}
button{
    background-color:rgb(1, 1, 75);
    color: white;
    border: none;
    width: 70px;
    height: 25px;
    border-radius: 10px ;
}
.ImageContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.ImageContainer *{
    margin: 10px;
    width: 400px;
}
.image :hover{
    margin: 0% 2%;
    width: 105%;
}